* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Inter";
   padding: 50px;
   margin-top: 100px;
   display: flex;
   /* alinha na horizontal */
   justify-content: center;
   /* alinha na vertical */
   align-items: center;
   /* inverte a ordem do alinhamento */
   flex-direction: column;
   color: #2f2f2f;
}

/* .box1 {
  height: 60px; /* altura
  width: 60px; /* largura
  background: red;
  margin: 20px 50px 100px 200px;
  top, right, bottom, left
  margin-left: 30px; 
}

.box2 {
  height: 60px;
  width: 60px;
  background: blue;
  padding: 10px;
} */

/*
class = .
id = #
*/
.container {
   box-shadow: 0 7px 12px #00000036;
   padding: 30px;
   border-radius: 10px;
   display: flex;
   background: #f5f5f5;
}

.product {
   display: flex;
   padding: 40px 0;
   align-items: center;
}

.product:not(:last-child) {
   border-bottom: 1px solid #ccc;
}

.product > .information {
   margin-left: 30px;
   max-width: 500px;
   text-align: justify;
}

.mb-10 {
   margin-bottom: 10px;
}

.valor {
   margin-top: 10px;
   color: #006d77;
}

.valor > span {
   font-weight: 700;
}

.actions {
   display: flex;
   margin-left: 30px;
   align-items: center;
}

.actions > button {
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: none;
   background: #023047;
   color: #fff;
   font-size: 1.5rem; /* acessibilidade */
   cursor: pointer;
}

.actions > div {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 0 10px;
   margin-top: -17px;
}

.actions > div > input {
   height: 40px;
   border-radius: 10px;
   /* border: 1px solid orange; */
   border: none;
   background: #ebebeb;
   text-align: center;
}

.order {
   width: 300px;
   padding-left: 30px;
   border-left: 1px solid #ccc;
   margin-left: 50px;
}

.search-frete {
   margin-bottom: 50px;
}

.search-frete > .address {
   display: none;
   margin-top: 10px;
   font-size: 1rem;
   font-weight: 700;
   color: #588157;
}

.cep-input {
   height: 40px;
   border-radius: 10px;
   border: none;
   background: #ebebeb;
   padding: 0 20px;
   width: 100%;
   color: #525252;
   letter-spacing: 2px;
}

.cep-input:focus {
   outline: none;
   border: 1px solid #588157;
}

.order > .information {
   margin-bottom: 50px;
}

.title {
   margin-bottom: 10px;
}

.row {
   display: flex;
}

.left {
   flex: 1;
}

.total {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.total > h3 {
   color: #006d77;
}

.button {
   margin-top: 50px;
   border-radius: 4px;
   width: 100%;
   background: #588157;
   height: 40px;
   border: none;
   cursor: pointer;
   color: #fff;
}
/* media query css */
/* Bootstrap - Biblioteca CSS */
/* Font Awesome - Biblioteca CSS que adiciona icones */
